<!-- 
<div class="navbar navbar-dark bg-dark ">

    <div><a class="btn btn-outline-info " style="text-decoration: none;"routerLink="listSalary"><span class="search">List Salaries</span></a></div>
    <div><a class="btn btn-outline-info " style="text-decoration: none;"routerLink="addSalary"><span class="search">Add Salaries</span></a></div>
    <div><a class="btn btn-outline-info " style="text-decoration: none;"routerLink="deleteSalary"><span class="search">Delete Salaries</span></a></div>
    <div><a class="btn btn-outline-info " style="text-decoration: none;"routerLink="updateSalary"><span class="search">Update Salaries</span></a></div>
    
</div> -->

<div class="background-blur"></div>
<div class="test container mt-5 col-md-12 text-center box-container">
  <div class="row">
    <div class="col-md-3">
      <div class="card text-center xyz">
        <img src="https://th.bing.com/th/id/OIP.CWFYD8w1-NCEUN3-WHAeUAHaGM?w=249&h=208&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="List Salaries" class="card-img-top" style="width: 100px;">
        <div class="card-body">
          <a data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" routerLink="listSalary">
            <span class="search">List<br/> Salaries</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center xyz">
        <img src="https://th.bing.com/th/id/OIP.sr0ySqCeNbRAIb8kNIuvxgD6D6?w=178&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Add Salaries" class="card-img-top" style="width: 100px;">
        <div class="card-body">
          <a data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" routerLink="addSalary">
            <span class="search">Add Salaries</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center xyz">
        <img src="https://th.bing.com/th/id/OIP.C71UYGKaWYvyym68LmKKqgHaHa?w=177&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Delete Salaries" class="card-img-top" style="width: 100px;">
        <div class="card-body">
          <a data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" routerLink="deleteSalary">
            <span class="search">Delete Salaries</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center xyz">
        <img src="https://th.bing.com/th/id/OIP.Oq1Gchxt-Xbprvd-w9MfVwHaF_?w=235&h=190&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Update Salaries" class="card-img-top" style="width: 100px;">
        <div class="card-body">
          <a data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" routerLink="updateSalary">
            <span class="search">Update Salaries</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>